<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Shop Kleber</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/klebertiko/shop-kleber"><i class="fa fa-github" aria-hidden="true"> GitHub</i></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/cart" class="btn btn-lg">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span class="badge">{{cart}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
